.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.navbar .dropdown-menu a:hover {
    color: #616161 !important;
}
.darken-grey-text {
    color: #2E2E2E;
}
#Logo{
    width: 100px;
    height: 50px;
}

.header-fixed {
background-color:#2e353d;
box-shadow:0 1px 1px #ccc;
padding: 20px 40px;
height: 80px;
color: #ffffff;
box-sizing: border-box;
top:-100px;

-webkit-transition:top 0.3s;
transition:top 0.3s;
}

/*  The header placeholder. It is displayed when the header is fixed to the top of the
browser window, in order to prevent the content of the page from jumping up. */

.header-fixed-placeholder{
height: 80px;
display: none;
}

/* Logo */

.header-fixed .header-limiter h1 {
float: left;
font: normal 28px Cookie, Arial, Helvetica, sans-serif;
line-height: 40px;
margin: 0;
}

.header-fixed .header-limiter h1 span {
color:red;
}

/* The navigation links */

.header-fixed .header-limiter a {
color: #ffffff;
text-decoration: none;
}

.header-fixed .header-limiter nav {
font:16px Arial, Helvetica, sans-serif;
line-height: 40px;
float: right;
}

.header-fixed .header-limiter nav a{
display: inline-block;
padding: 0 5px;
text-decoration:none;
color: #ffffff;
opacity: 0.9;
}

.header-fixed .header-limiter nav a:hover{
opacity: 1;
}

.header-fixed .header-limiter nav a.selected {
color:red;
pointer-events: none;
opacity: 1;
}

/* Fixed version of the header */

body.fixed .header-fixed {
padding: 10px 40px;
height: 50px;
position: fixed;
width: 100%;
top: 0;
left: 0;
z-index: 1;
}

body.fixed .header-fixed-placeholder {
display: block;
}

body.fixed .header-fixed .header-limiter h1 {
font-size: 24px;
line-height: 30px;
}

body.fixed .header-fixed .header-limiter nav {
line-height: 28px;
font-size: 13px;
}


/* Making the header responsive */

@media all and (max-width: 600px) {

.header-fixed {
    padding: 20px 0;
    height: 75px;
}

.header-fixed .header-limiter h1 {
    float: none;
    margin: -8px 0 10px;
    text-align: center;
    font-size: 24px;
    line-height: 1;
}

.header-fixed .header-limiter nav {
    line-height: 1;
    float:none;
}

.header-fixed .header-limiter nav a {
    font-size: 13px;
}

body.fixed .header-fixed {
    display: none;
}
}

.header-fixed {
    background-color:#2e353d;;
    box-shadow:0 1px 1px #ccc;
    padding: 20px 40px;
    height: 80px;
    color: #ffffff;
    box-sizing: border-box;
    top:-100px;
    
    -webkit-transition:top 0.3s;
    transition:top 0.3s;
    border-bottom: 3px #951b81 solid;
}


/* CSS PAGE DE CONNEXION */

.img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img img {
    width: 500px;
}

form {
    min-width: 360px;
}

.login-content img {
    height: 100px;
}

.login-content h2 {
    margin: 15px 0;
    color: #333;
    text-transform: uppercase;
    font-size: 2.9rem;
}

.login-content .input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one {
    margin-top: 0;
}

.i {
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i {
    transition: .3s;
}

.input-div>div {
    position: relative;
    height: 45px;
}

.input-div>div>h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: .3s;
}

.input-div:before,
.input-div:after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #951b81;
    transition: .4s;
}

.input-div:before {
    right: 50%;
}

.input-div:after {
    left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
    width: 50%;
}

.input-div.focus>div>h5 {
    top: -5px;
    font-size: 15px;
}

.input-div.focus>.i>i {
    color: #cc33b2;
}

.input-div>div>input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
    font-family: 'poppins', sans-serif;
}

.input-div.pass {
    margin-bottom: 4px;
}

.bouton {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #ce77bf, #951b81, #ce77bf);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
}

.bouton:hover {
    background-position: right;
}

.f-mdp {
    color: #951b81;
    transition-property: color;
    transition-duration: .4s;
    display: block;
    text-align: right;
    text-decoration: none;
    font-size: 0.9rem;
    transition: .3s;
}

.f-mdp:hover {
    color: #cf3db7;
    text-decoration: none;
}

.title {
    color: #2e353d;
}


/* COMMON FORMS */

.form-control .cm-input {
    max-width: 400px;
    transition-property: border;
    transition-duration: .8s;
}

.form-control .cm-input:focus {
    border: 2px solid #951b81 !important;
}
