<form method="post" action="{{ path('manager/tags/tags_affect_delete', {'id': tags_affect.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cette entrée ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tags_affect.id) }}">
    <button class="btn btn-danger m-1"><i class="fas fa-times"></i> Supprimer</button>
</form>
