{% extends 'baselayout.html.twig' %}

{% block title %}Ajouter une nouvelle affectation de TAGs{% endblock %}

{% block content %}
    <h1>Ajouter une nouvelle affectation de TAGs</h1>

    {{ include('tags_affect/_form.html.twig') }}

{% endblock %}
