{% extends 'base.html.twig' %}

{% block title %}Edit EntityInstitutions{% endblock %}

{% block body %}
    <h1>Edit EntityInstitutions</h1>

    {{ include('entity_institutions/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('entity_institutions_index') }}">back to list</a>

    {{ include('entity_institutions/_delete_form.html.twig') }}
{% endblock %}
