{% extends 'baselayout.html.twig' %}

{% block title %}New EntityInstitutions{% endblock %}

{% block content %}
<div class="col">
    <h2><i class="fas fa-university"></i> Ajouter une institution</h2>

    {{ include('entity_institutions/_form.html.twig') }}
    <br/>
</div>
{% endblock %}
