{% extends 'baselayout.html.twig' %}

{% block title %}Edit EntityShows{% endblock %}

{% block content %}
    <h1>Edit EntityShows</h1>

    {{ include('entity_shows/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('entity_shows_index') }}">back to list</a>

    {{ include('entity_shows/_delete_form.html.twig') }}
{% endblock %}
