{% extends 'baselayout.html.twig' %}

{% block title %}Ajouter un spectale{% endblock %}

{% block content %}
<div class="col">
    <h2><i class="fas fa-theater-masks"></i> Ajouter un spectale</h2>

    {{ include('entity_shows/_form.html.twig') }}
    <br/>
</div>
{% endblock %}
