{% extends 'baselayout.html.twig' %}

{% block title %}Permissions{% endblock %}

{% block content %}
    <h2><i class="fas fa-balance-scale-right"></i> Gestion des permissions</h2>

    {% if data.ajouter_un_filtre == "oui" and data.nombre_de_filtres is defined %}
        {% if data.nombre_de_filtres == 1 %}
            <b>{{ data.nombre_de_filtres }} filtre déjà ajouté.</b>
        {% elseif data.nombre_de_filtres > 1 %}
            <b>{{ data.nombre_de_filtres }} filtres déjà ajoutés.</b>
        {% endif %}
    {% endif %}

    {{ include('entity_roles/_form.html.twig') }}

    <a class="btn btn-light m-1" href="{{ path('permission') }}"><i class="fas fa-undo"></i> Tout annuler</a>


{% endblock %}