{% extends 'baselayout.html.twig' %}

{% block title %}Permissions{% endblock %}

{% block content %}
    <h2><i class="fas fa-balance-scale-right"></i> Gestion des permissions</h2>

    <b>Permission "{{ data.nom_de_la_permission }}" crée avec succès !</b>

{% endblock %}