.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.navbar .dropdown-menu a:hover {
    color: #616161 !important;
}
.darken-grey-text {
    color: #2E2E2E;
}
#Logo{
    width: 100px;
    height: 50px;
}

.header-fixed {
background-color:#2e353d;;
box-shadow:0 1px 1px #ccc;
padding: 20px 40px;
height: 80px;
color: #ffffff;
box-sizing: border-box;
top:-100px;

-webkit-transition:top 0.3s;
transition:top 0.3s;
}

/*  The header placeholder. It is displayed when the header is fixed to the top of the
browser window, in order to prevent the content of the page from jumping up. */

.header-fixed-placeholder{
height: 80px;
display: none;
}

/* Logo */

.header-fixed .header-limiter h1 {
float: left;
font: normal 28px Cookie, Arial, Helvetica, sans-serif;
line-height: 40px;
margin: 0;
}

.header-fixed .header-limiter h1 span {
color:red;
}

/* The navigation links */

.header-fixed .header-limiter a {
color: #ffffff;
text-decoration: none;
}

.header-fixed .header-limiter nav {
font:16px Arial, Helvetica, sans-serif;
line-height: 40px;
float: right;
}

.header-fixed .header-limiter nav a{
display: inline-block;
padding: 0 5px;
text-decoration:none;
color: #ffffff;
opacity: 0.9;
}

.header-fixed .header-limiter nav a:hover{
opacity: 1;
}

.header-fixed .header-limiter nav a.selected {
color:red;
pointer-events: none;
opacity: 1;
}

/* Fixed version of the header */

body.fixed .header-fixed {
padding: 10px 40px;
height: 50px;
position: fixed;
width: 100%;
top: 0;
left: 0;
z-index: 1;
}

body.fixed .header-fixed-placeholder {
display: block;
}

body.fixed .header-fixed .header-limiter h1 {
font-size: 24px;
line-height: 30px;
}

body.fixed .header-fixed .header-limiter nav {
line-height: 28px;
font-size: 13px;
}


/* Making the header responsive */

@media all and (max-width: 600px) {

.header-fixed {
    padding: 20px 0;
    height: 75px;
}

.header-fixed .header-limiter h1 {
    float: none;
    margin: -8px 0 10px;
    text-align: center;
    font-size: 24px;
    line-height: 1;
}

.header-fixed .header-limiter nav {
    line-height: 1;
    float:none;
}

.header-fixed .header-limiter nav a {
    font-size: 13px;
}

body.fixed .header-fixed {
    display: none;
}

}