{% extends 'baselayout.html.twig' %}

{% block title %}Edit EntityPerformances{% endblock %}

{% block content %}
    <h1>Edit EntityPerformances</h1>

    {{ include('entity_performances/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('manager/entity_performances_index') }}">back to list</a>

    {{ include('entity_performances/_delete_form.html.twig') }}
{% endblock %}
