{# {% extends 'baselayout.html.twig' %}

{% block title %}New EntityPerformances{% endblock %} #}

{% block content %}
<div class="col">
    <h2><i class="fas fa-theater-masks"></i> Ajouter une représentation</h2>

    {{ include('entity_performances/_form.html.twig') }}
</div>
{% endblock %}
