{% extends 'baselayout.html.twig' %}

{% block title %}Edit EntityUser{% endblock %}

{% block content %}
    <h1>Edit EntityUser</h1>

    {{ include('entity_user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('entity_user_index') }}">back to list</a>

    {{ include('entity_user/_delete_form.html.twig') }}
{% endblock %}
