{% extends 'baselayout.html.twig' %}

{% block title %}Ajouter un utilisateur{% endblock %}

{% block content %}
    <h1>Ajouter un utilisateur</h1>

    {{ include('entity_user/_form.html.twig') }}

    <a href="{{ path('admin_user_index') }}">Retour à la liste</a>
{% endblock %}
