{% extends 'baselayout.html.twig' %}

{% block title %}Edit EntityUser{% endblock %}

{% block content %}
    <h1>Edit EntityUser</h1>

    {{ include('entity_user/_form.html.twig', {'button_label': ' Mettre à jour', 'edit': true}) }}

{% endblock %}
