{% extends 'baselayout.html.twig' %}

{% block title %}Ajouter une personne{% endblock %}

{% block content %}
    <h2><i class="fas fa-atlas"></i> Ajouter une personne</h2>

    {{ include('entity_people/_form.html.twig') }}
    <br/>
</div>
{% endblock %}
