{% extends 'baselayout.html.twig' %}

{% block title %}Créer un modele{% endblock %}

{% block content %}
    <h2><i class="fa fa-file-excel"></i> Ajouter un modele</h2>

    {{ include('entity_modeles/_form.html.twig') }}
    <br/>

{% endblock %}
