{% extends 'baselayout.html.twig' %}

{% block title %}Édition de {{ entity_institution.name }}{% endblock %}

{% block content %}
    <h2><i class="fas fa-edit"></i> Édition de {{ entity_institution.name }}</h2>

    {{ include('entity_institutions/_form.html.twig', {'button_label': 'Valider'}) }}

    {{ include('entity_institutions/_delete_form.html.twig') }}
{% endblock %}
