.container{
    display: flex;
    justify-content: space-evenly;
}

.myButton {
    box-shadow:inset 0px 1px 0px 0px #951b81;
    background:linear-gradient(to bottom, #951b81 5%, #951b81 100%);
    background-color:#951b81;
    border-radius:6px;
    border:1px solid #951b81;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:22px;
    padding: 5px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #9b14b3;
}
.myButton:hover {
    background:linear-gradient(to bottom, #951b81 5%, #951b81 100%);
    background-color:#951b81;
}
.myButton:active {
    position:relative;
    top:1px;
}

hr{
    border: 1px solid #951b81;
}

.hide {
    display: none;
}
